# Data Analysis with Pandas
bike states

Feras Ezz-aldeen

In [36]:
import pandas as pd
df_station= pd.read_csv('./bike-state/station.csv')
df_trip= pd.read_csv('./bike-state/trip.csv', error_bad_lines=False)
df_weather= pd.read_csv('./bike-state/weather.csv')
df_station
# df_trip
df_weather

/home/feras/course401/Data-Analysis-with-Pandas/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,8/27/2016,72,66.0,61,57,54,50,81,65,46,...,29.88,29.77,10,10,10,16,9,NaN,0.00,NaN
685,8/28/2016,75,68.0,59,54,52,50,80,65,44,...,30.06,30.01,10,10,10,12,9,NaN,0.00,NaN
686,8/29/2016,81,68.0,55,55,53,50,89,65,39,...,30.02,29.95,10,10,6,9,4,NaN,0.00,NaN
687,8/30/2016,70,64.0,57,55,53,52,83,69,53,...,30.01,29.97,10,10,10,14,9,18,0.00,NaN
688,8/31/2016,71,65.0,59,61,56,52,90,77,63,...,29.97,29.96,10,10,8,14,8,NaN,0.00,Rain

# What is the average trip duration for a borrowed bicycle?

In [11]:
avg_duration=df_trip["tripduration"].mean()
avg_duration

1178.2956753399776

# What’s the most common age of a bicycle-sharer?

In [14]:
avg_bd=df_trip["birthyear"].mode()
common_age=2021-avg_bd
common_age

0    34.0
dtype: float64

# Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [28]:
df_weather["month"]=pd.DatetimeIndex(df_weather["Date"]).month
df_weather["year"]=pd.DatetimeIndex(df_weather["Date"]).year
avg_preciption=df_weather[['Precipitation_In',"month",'year']].groupby(['year','month']).mean()
median_preciption=df_weather[['Precipitation_In',"month",'year']].groupby(['year','month']).median()
avg_preciption, median_preciption

(            Precipitation_In
 year month
 2014 10             0.300526
      11             0.141667
      12             0.145161
 2015 1              0.070645
      2              0.163214
      3              0.135161
      4              0.056667
      5              0.014194
      6              0.005667
      7              0.008710
      8              0.035484
      9              0.041000
      10             0.120645
      11             0.234000
      12             0.327419
 2016 1              0.216452
      2              0.173448
      3              0.178710
      4              0.046000
      5              0.010645
      6              0.055333
      7              0.015484
      8              0.000968,
             Precipitation_In
 year month
 2014 10                0.140
      11                0.010
      12                0.010
 2015 1                 0.010
      2                 0.025
      3                 0.000
      4                 0.000
      5                 0.000
      6                 0.000
      7                 0.000
      8                 0.000
      9                 0.000
      10                0.010
      11                0.065
      12                0.120
 2016 1                 0.070
      2                 0.080
      3                 0.060
      4                 0.000
      5                 0.000
      6                 0.000
      7                 0.000
      8                 0.000)

# What’s the average number of bikes at a given bike station?

In [31]:
avg_num=df_station['current_dockcount'].mean()
avg_num

16.517241379310345

# When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [ ]:
###

# find the names of top 5 stations with the maximum number of bike avaliable

In [39]:
top_5=df_station[["name","current_dockcount"]].sort_values("current_dockcount",ascending=False).head(5)
top_5

                                                 name  current_dockcount
17             Cal Anderson Park / 11th Ave & Pine St                 26
22  Children's Hospital / Sandpoint Way NE & 40th ...                 24
52                    Pier 69 / Alaskan Way & Clay St                 24
12                     E Harrison St & Broadway Ave E                 20
41                              Mercer St & 9th Ave N                 20

# find the names of less 5 stations with the minimum number of bike avaliable

In [33]:
less_5=df_station[["name","current_dockcount"]].sort_values("current_dockcount",ascending=False).tail(5)
less_5

                                         name  current_dockcount
3                      2nd Ave & Blanchard St                 14
10                    12th Ave & E Yesler Way                  0
26  Frye Art Museum / Terry Ave & Columbia St                  0
46               UW McCarty Hall / Whitman Ct                  0
38                     Dexter Ave & Denny Way                  0

# find the avarage temp for each month

In [37]:
df_weather["month"]=pd.DatetimeIndex(df_weather["Date"]).month
df_weather["year"]=pd.DatetimeIndex(df_weather["Date"]).year
avg_temp=avg_preciption=df_weather[['Mean_Temperature_F',"month",'year']].groupby(['year','month']).mean()
avg_temp

KeyError: "['month', 'year'] not in index"