# Data Analysis with Pandas
video games stats

Feras Ezz-aldeen

In [5]:
import pandas as pd
df=pd.read_csv('./vg-stats/vgsales.csv')

df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

# Which company is the most common video game publisher?

In [132]:
most_game_publisher= df['Publisher'].mode()
most_game_publisher[0]

0    Electronic Arts
dtype: object

# What’s the most common platform?

In [11]:
most_common_platform=df['Platform'].mode()
most_common_platform[0]

'DS'

# What about the most common genre?

In [13]:
most_common_genre=df['Genre'].mode()
most_common_genre[0]

'Action'

# What are the top 20 highest grossing games?

In [49]:
top_20=df[["Name","Global_Sales"]].sort_values('Global_Sales',ascending=False)
top_20.head(20)

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

# For North American video game sales, what’s the median?

In [47]:
NA_median=df['NA_Sales'].median()
NA_median
bigger=df[df["NA_Sales"]>NA_median][['NA_Sales','Name']].sort_values('NA_Sales').head(5)
bigger
less=df[df["NA_Sales"]<NA_median][['NA_Sales','Name']].sort_values('NA_Sales').tail(5)
less
compine=[bigger,less]
sorounding=pd.concat(compine)
sorounding

       NA_Sales                                Name
11012      0.09  NERF N-Strike: Double Blast Bundle
3303       0.09           pro evolution soccer 2011
6235       0.09                 Mass Effect Trilogy
7564       0.09                              XCOM 2
6656       0.09                     Animal Paradise
11563      0.07           Lost in Blue: Shipwrecked
9610       0.07         Warriors of Might and Magic
9606       0.07                          Black Dawn
11559      0.07      7 Wonders of the Ancient World
137        0.07                   World of Warcraft

# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [51]:
top_20=df.sort_values('Global_Sales',ascending=False)
top_20.head(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

# The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [92]:
wii_avg = df[df['Platform']=='Wii'].Global_Sales.mean()
others_avg = df[df['Platform']!='Wii'].Global_Sales.mean()
others_avg , wii_avg

(0.5233896418516336, 0.6994037735849057)

# what is the top 5 most seling game in europ

In [99]:
most_seling=df[['Name','EU_Sales']].sort_values('EU_Sales', ascending=False).set_index('Name').head()
most_seling

                    EU_Sales
Name
Wii Sports             29.02
Mario Kart Wii         12.88
Wii Sports Resort      11.01
Nintendogs             11.00
Grand Theft Auto V      9.27

# how much sales does Activision has made in NA

In [101]:
Activision_Sales=df[df["Publisher"]=="Activision"].Global_Sales.sum()
Activision_Sales

727.46

# what is the best Microsoft Game Studios game released

In [135]:
Ms_best=df[df["Publisher"]=="Microsoft Game Studios"][["Name","Global_Sales"]].set_index("Name")
Ms_best.head(1)

                                Global_Sales
Name
Kinect Adventures!                     21.82
Halo 3                                 12.14
Halo: Reach                             9.88
Halo 4                                  9.76
Minecraft                               9.20
...                                      ...
Gears of War                            0.02
Exhibition Volume 6                     0.02
Impossible Creatures                    0.01
Banjo-Kazooie                           0.01
RalliSport Challenge(JP sales)          0.01

[189 rows x 1 columns]